<div class="overlay">
	<div class="modal1">
		<p>{{ model.title }}</p>
		<p>{{ model.description }}</p>
	</div>
</div>

<script>
	
	$('.overlay').click(function () {
		document.location.href = "/";
	});

</script>	