*.sln
*.suo
*.njsproj

**/logs

**/node_modules/*
settings/*
web_app/public

server/.ntvs_analysis.dat
server/npm-debug.log
server/bin/
server/obj/
server/.ntvs_analysis.dat.tmp
server/logs/log.txt*
server/logs/error_log*
server/*.DotSettings.user


