*.sln
*.suo
*.njsproj

**/node_modules/*
settings/*
web_app/public

server_app/.ntvs_analysis.dat
server_app/npm-debug.log
server_app/bin/
server_app/obj/
server_app/.ntvs_analysis.dat.tmp
server_app/logs/log.txt*
server_app/logs/error_log*
server_app/*.DotSettings.user


