<script id="layout" type="text/template">
	<header>
		<section class="topsection">
			<a class="addevent" href="addevent">add</a>
		</section>	
		<section class="bottomsection">
			<div class="logo"><a href="/"><h1>evehub.io</h1></a></div>
			<p class="search-block">
				<input type="text" class="search">
				<button>go</button>
			</p>
			<ul class="hts">
				{{#each model.tags}}
					<li>
						<a href="" data-value="{{_id}}">#{{_id}}</a>
					</li>
				{{/each}}
			</ul>
		</section>	
		<section class="time">
		</section>	
	</header>
	<section class="content">
		<div id="addDialog"></div>
		<div id="details"></div>
		<div id="ev_place"></div>
	</section>
</script>

<script id="event" type="text/template">
	<div class="ev-header">
		<img src="http://placehold.it/200x80">
	</div>
	<div>
		<h3><%= title %></h2>
		<h2>22.12.2017</h2>
	</div>
	<div class="likes">
		<p>33 лайки</p>
		<p>11 хуяйки</p>
	</div>
	<div>
		<p>lorem ipsun sddd sjh dshkds hdshsd sdkd skdsh d dskds</p>
	</div>	
	<p></p>
</script>

<script id="events" type="text/template">
	<div class="evs"></div>	
</script>

<script id="event_full" type="text/template">
	<div class="overlay">
		<div class="modal1">
			<p><%= title %></p>
			<p><%= description %></p>
			<% _.each(tags, function (tag) { %>
				<span> <%= tag.hashtag %> </span>
			<% }) %>
		</div>
	</div>
</script>

<script id="event_form" type="text/template">
	<div class="overlay">
		<div class="modal1">
			<p><input name="title" placeholder="title"></p>
			<p><input name="descrition" placeholder="descrition"></p>
			<p><input name="ht" placeholder="ht"></p>
			<p><input name="ht" placeholder="ht"></p>
			<p><input name="ht" placeholder="ht"></p>
			<p><input name="lat" placeholder="lat" value="1"></p>
			<p><input name="lng" placeholder="lng" value="2"></p>
			<p><input name="datetime" placeholder="datetime" value="1425328994065"></p>
			<p><input name="locationName" placeholder="locationName" value="locationName"></p>
			<p><button name="save">save</button><button name="close">close</button></p>
		</div>
	</div>
</script>

<script id="events" type="text/template">
	<div class="events_list"></div>
</script>

<script src="/app/app.js"></script>