<html>
	<head>
		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/underscore.js"></script>
		<script src="/assets/js/backbone.js"></script>
		<script src="/assets/js/backbone.marionette.js"></script>

		<script src="/app/views/event.js"></script>
		<script src="/app/views/events.js"></script>
		<script src="/app/views/event_full.js"></script>
		<script src="/app/views/event_form.js"></script>
		<script src="/app/views/mainlayout.js"></script>
		<script src="/app/models/event.js"></script>
		<script src="/app/collections/events.js"></script>
		<script src="/app/approuter.js"></script>

		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="container-fluid">{{{body}}}</div>
	</body>
</html>